body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

.canvas {
  /* height: 100%; */
  /* width: 100%; */
  /* padding: 0rem; */
  background-color: blue;
  position: absolute;
  transform: translate(50%, 50%);
  /* bottom: 50%; */
  /* right: 50%; */
  width: 750px;
  height: 400px;
}
