body {
  background-color: #fff;
  width: 90vw;
  height: 90vh;
  font-size: 62.5%;
  background-image: url("steak.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.canvas {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  transform: translate(60%, -40%);
  width: 800px;
  height: 500px;
  right: 50%;
  top: 50%;
}

.steak-title {
  font-size: 6.4rem;
  text-align: center;
  position: absolute;
  transform: translate(-40%, -2rem);
  left: 50%;
  text-shadow: 0px 0.5px 0.5px orange;
  transition: all 0.5s;
}

.steak-title:hover {
  font-size: 6.6rem;
  transform: translate(-40%, -3rem);
  color: #520;
  text-shadow: 0px 2px 3px orange;
}
.steak-subtitle {
  font-size: 5rem;
  text-align: center;
  position: absolute;
  transform: translate(-40%, -2rem);
  left: 50%;
  bottom: -17%;
  text-shadow: 0px 0.5px 0.5px red;
  transition: all 0.5s;
}
.steak-subtitle {
  font-size: 5rem;
  text-align: center;
  position: absolute;
  transform: translate(-40%, -2rem);
  left: 50%;
  bottom: -17%;
  text-shadow: 0px 0.5px 0.5px #200;
  transition: all 0.5s;
}
.steak-subtitle:hover {
  font-size: 5.2rem;
  transform: translate(-40%, -2.5rem);
  text-shadow: 0px 2px 1px #a00;
  color: #200;
}
.start-game {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 1.2rem 4.8rem;
  border: none;
  font-size: 2.4rem;
  transform: translate(-20%, 50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: #410;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.5s;
}
.start-game:hover {
  background-color: rgba(122, 122, 122, 0.5);
  color: #c50;
}
.again span {
  display: block;
}
span {
  display: none;
}
.none {
  display: none;
}
.servings {
  position: absolute;
  font-size: 1.2rem;
  left: 50%;
  top: 17%;
  color: orange;
  text-shadow: 0px 1px 1px black;
  transition: all 0.3s;
}
.servings:hover {
  text-shadow: 0px 3px 3px black;
}
